@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap");

:root {
  --primary-color: #0066cc;
  --secondary: #dbfffe;
  --black: #141414;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}


* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

body {
  background-color: rgb(239, 237, 237);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

section {
  padding: 5rem 7%;
}

.heading {
  position: relative;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: center;
  margin-bottom: 3rem;
  animation: top 0.8s ease;
}


.heading::after {
  content: url('../images/separator.svg');
  display: block;
  width: 15rem;
  margin-inline: auto;
  margin-top: -1rem;
}

.btn {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: max-content;
  border: .1rem solid var(--primary-color);
  background: var(--secondary);
  padding: 1.2rem 4.5rem;
  overflow: hidden;
  z-index: 1;
  border-radius: .5rem;
  margin: 20px 0;
  animation: fade 1s ease-in;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: 500ms ease;
  z-index: -1;
}

.btn .text {
  transition: 250ms ease;
}

.btn .text-2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  color: var(--secondary);
}

.btn:is(:hover, :focus-visible)::before {
  bottom: -50%;
}

.btn:is(:hover, :focus-visible) .text-1 {
  transform: translateY(-4rem);
}

.btn:is(:hover, :focus-visible) .text-2 {
  top: 50%;
  transform: translate(-50%, -50%);
}

.shine {
  position: relative;
}

.shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
  transform: skewX(-0.08turn) translateX(-180%);
}

.shine:is(:hover, :focus-within)::after {
  transform: skewX(-0.08turn) translateX(275%);
  transition: 1000ms ease;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;

}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
  animation: fade 1s ease-in;
}

.header .logo i {
  color: var(--primary-color);
  padding-right: .5rem;
}

.header .navbar {
  animation: right 0.8s ease-out;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
  padding-block: 1rem;

}

.header .navbar a:hover,
.selected {
  color: var(--primary-color);
}

.header .navbar .hover-underline {
  position: relative;
  max-width: max-content;
}

.header .navbar .hover-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .5rem;
  border-block: .1rem solid var(--primary-color);
  transform: scaleX(0.2);
  opacity: 0;
  transition: 500ms ease;
}

.header .navbar .hover-underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--black);
  cursor: pointer;
}

.header .icons div:hover {
  color: var(--primary-color);
}

#menu-btn {
  display: none;
}

.header .login-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: var(--white);
  box-shadow: .5rem;
  width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.header .login-form.active {
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3 {
  font-size: 2.2rem;
  color: var(--black);
  text-align: center;
  margin-bottom: .7rem;
}

.header .login-form .box {
  font-size: 1.5rem;
  margin: .7rem 0;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  color: var(--black);
  text-transform: none;
  width: 100%;
}

.header .login-form .remember {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

/* home */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/wirakarya-1.webp) no-repeat;
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(#0001, #000);
}

.home .content {
  max-width: 80rem;
  text-align: center;
  background: transparent;

  padding: 8rem 3rem;


}

.home .content h3 {
  font-size: 5rem;
  animation: left 0.8s ease;
  color: var(--white);
  line-height: 1.2;
}

.home .content h3 span {
  padding: 2px 0;
  border-bottom: 3px rgb(209, 209, 209) solid;
  border-top: 3px rgb(209, 209, 209) solid;
}

.home .content p {
  font-size: 1.7rem;
  line-height: 2;
  color: var(--white);
  padding: 1rem 0;
  animation: left 0.8s ease;
}

/* ends */

/* about */
.about {
  margin: 70px 0;
}

.about .container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 10px;
}

.about .container .about-image {
  position: relative;
  flex: 1 1 40rem;
  padding: 20px 20px;
  animation: left 0.8s ease;
}

.about .container .about-image img {
  width: 100%;
  object-fit: cover;

  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  filter: contrast(120%);
}

.about .container .about-image img:hover {

  transform: scale(1.02);
}

.about .container .about-image .about-img {
  position: absolute;
  bottom: -10rem;
  right: -1rem;
  width: 25rem;
  padding-block: 5rem;
}

.about .container .about-content {
  flex: 1 1 50rem;
  padding-left: 2.5rem;
  animation: right 0.8s ease;
}

.about .container .about-content h3 {
  font-size: 3rem;
  color: var(--primary-color);
  padding: 10px 0;

}

.about .container .about-content p {
  font-size: 1.6rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1.8;
}

/* ends */


.feature {
  display: flex;
  padding: 0 150px;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
}

.feature .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;
}

.feature .title h5,
.blog .title-blog h5,
.services h5 {
  font-size: 30px;

}

.feature .title a,
.blog .title-blog a {
  font-size: 18px;
  border-bottom: 3px solid gray;
  padding-bottom: 4px;
}

.feature .title a:hover,
.blog .title-blog a:hover {
  color: dodgerblue;
}

.feature .box-feature {
  display: flex;
  flex-direction: row;
  padding: 30px 150px;
  align-items: flex-start;
  gap: 50px;
  border-bottom: 5px solid rgb(220, 220, 220);
}

.feature .box-feature:hover {
  transform: scale(1.02);
}

.feature .box-feature .feature-photo img {
  width: 700px;
  max-width: 1000px;
  height: auto;
}

.feature .box-feature .feature-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1200px;


}

.feature .box-feature .feature-info h1 {
  font-size: 30px;
}

.feature .box-feature .feature-info p {
  font-size: 18px;
  color: #3d3d3d;
}

.feature .box-feature .feature-info .feature-year {
  display: flex;
  gap: 25px;
  align-items: center;
}

.feature .box-feature .feature-info .feature-year h4 {
  background-color: dodgerblue;
  padding: 4px 10px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  font-size: 12px;
}

.feature .box-feature .feature-info .feature-year h5 {
  font-size: 12px;
  color: rgb(105, 105, 105);
}

/* subjects */

.subjects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(245, 245, 245);
}

.subjects a {
  font-size: 16px;
  text-align: center;
  
  padding: 20px 40px;


}

.subjects a:hover {
  color: rgb(0, 60, 255);
}

.subjects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  margin-bottom: 10px;
  animation: fade 1s ease-in;
}

.subjects .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: .1rem solid var(--primary-color);
  background: var(--secondary);
  cursor: pointer;
}

.subjects .box-container .box:hover {
  background: var(--primary-color);
}

.subjects .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
  border-radius: 20px;
}

.subjects .box-container .box h3 {
  font-size: 1.7rem;
  color: #444;
  padding: .5rem 0;
  text-transform: capitalize;
}

.subjects .box-container .box:hover h3 {
  color: #fff;
}

.subjects .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.subjects .box-container .box:hover p {
  color: #eee;
}

.heading-1 {
  position: relative;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: center;
  margin: 3rem 0;
  animation: bounce 0.8s ease-in;
}


/* end */

/* courses */

.courses .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.courses .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.courses .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.courses .box-container .box:hover .image img {
  transform: scale(1.1);
}

.courses .box-container .box .image h3 {
  font-size: 1.5rem;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  background: var(--white);
}

.courses .box-container .box .content {
  padding: 2rem;
  position: relative;
  border: 0.1rem solid var(--primary-color);
}

.courses .box-container .box .content h4 {
  position: absolute;
  background: var(--primary-color);
  color: var(--secondary);
  top: -3rem;
  right: 1.5rem;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 50%;
}

.courses .box-container .box .content p {
  font-size: 1.4rem;
  color: #444;
  line-height: 2;
}

.courses .box-container .box .content h3 {
  font-size: 2rem;
  color: #444;
}

.courses .box-container .box .content .stars {
  padding: 1rem 0;
}

.courses .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--primary-color);
}

.courses .box-container .box .content .stars span {
  font-size: 1.4rem;
  color: #777;
  margin-left: .5rem;
}

.courses .box-container .box .content .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid var(--primary-color);
}

.courses .box-container .box .content .icons span {
  font-size: 1.5rem;
  color: #444;
}

.courses .box-container .box .content .icons span i {
  color: var(--primary-color);
  padding-right: .5rem;
}

/* ends */

/* teacher */

.teacher .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.teacher .box-container .box {
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.teacher .box-container .box .image {
  position: relative;
  overflow: hidden;
}

.teacher .box-container .box .image img {
  background: var(--secondary);
  width: 100%;
}

.teacher .box-container .box:hover .image .share {
  bottom: 0;
}

.teacher .box-container .box .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  padding: 2rem;
}

.teacher .box-container .box .image .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--secondary);
  background: var(--primary-color);
  border-radius: .5rem;
}

.teacher .box-container .box .image .share a:hover {
  color: var(--primary-color);
  background: var(--secondary);
}

.teacher .box-container .box .content {
  padding: 2rem;
  padding-top: 1rem;
  align-items: center;
}

.teacher .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.teacher .box-container .box .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

/* ends */

/* review */

.review .slide {
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  position: relative;
}

.review .slide p {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: .5rem;
  line-height: 1.8;
  color: #444;
}

.review .slide .wrapper {
  display: flex;
  justify-content: center;
  gap: .3rem;
}

.review .slide .wrapper .separator {
  width: .8rem;
  height: .8rem;
  border: .1rem solid var(--primary-color);
  transform: rotate(45deg);
  animation: rotate360 15s linear infinite;
}

/*Ekstrakurikuler Section Start*/

.garis{
  margin: 70px 0;
}

.activities {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 100px;
}



.activities subsection {
  background-color: #fff;
  padding: 15px;
  border-radius: 20px 0 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-size: 16px;
}

.activities subsection p{
  font-size: 14px;
}

.activities subsection:hover {
  transform: translateY(-5px);
}

.activities h3 {
  color: #007bff;
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
  
}

.activities p {
  color: #555;
  line-height: 1.2;
  margin-bottom: 15px;
}

.activities ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.activities li {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.activities li::before {
  content: '\2022';
  color: #007bff;
  font-weight: bold;
  margin-right: 10px;
}

.eskul-title {
  text-align: center;
  color: #007bff;
  font-size: 32px;
  padding-top: 100px;
  padding-bottom: 20px;
}

.link{
  padding: 0 100px;
}

.link a{
  padding: 10px 20px;
}

/*Ekstrakurikuler Section Ends*/

.blog {
  margin: 90px 0;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  animation: fade 1s ease-in;
}

.blog .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.blog .box-container .box {
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  justify-content: center;
  background: var(--secondary);
}

.blog .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}

.blog .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog .box-container .box:hover .image img {
  transform: scale(1.1);
}

.blog .box-container .box .image h3 {
  font-size: 1.5rem;
  color: #444;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  background: var(--white);
  border-radius: 2rem 0 2rem 0;
}

.blog .box-container .box .content {
  padding: 2rem 3rem;
  
  border-radius: 0 0 2rem 2rem;
}

.blog .box-container .box .content .icons {
  margin-bottom: 1rem;
  align-items: center;
}

.blog .box-container .box .content .icons a {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.blog .box-container .box .content .icons a i {
  padding-right: .5rem;
}

.blog .box-container .box .content h3 {
  font-size: 1.9rem;
  color: var(--black);
}

.blog .box-container .box .content p {
  font-size: 1.3rem;
  color: var(--black);
  line-height: 1.4;
  padding: 1rem 0;
}


.review .slide .fa-quote-right {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: var(--secondary);
}

.review .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}

.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 15%;
  object-fit: cover;
  border: .1rem solid var(--primary-color);
  padding: .5rem;
}

.review .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: .5rem;
}

.review .slide .user .stars i {
  font-size: 1.3rem;
  color: var(--primary-color);
}

/* ends */

/* blog */



/* ends */

/* contact */

.contact .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.contact .row .image {
  flex: 1 1 40rem;
  animation: left 0.8s ease-in;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  flex: 1 1 40rem;
  border: 0.1rem solid var(--primary-color);
  padding: 2rem;
  animation: right 0.8s ease-in;
}

.contact .row form h3 {
  font-size: 2.5rem;
  color: #444;
  padding-bottom: 1rem;
}

.contact .row form .box {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem 1.4rem;
  border: .1rem solid var(--primary-color);
  margin: .7rem 0;
}

.contact .row form .box:focus {
  color: var(--primary-color);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

/* ends */

/* footer */

.footer {
  background: var(--secondary);
  text-align: center;
  animation: bottom 0.8s ease-out;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  animation: fade 1.5s ease-in
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: var(--primary-color);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 2;
  padding: 1rem 0;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  border: .1rem solid var(--primary-color);
  color: var(--primary-color);
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: var(--primary-color);
  color: var(--white);
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: var(--black);
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.footer .credit {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding-top: 3rem;
  text-align: center;
  color: var(--black);
  border-top: .1rem solid var(--primary-color);
}

.footer .credit span {
  color: var(--primary-color);
}

/* ends */

.jogja-blog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 150px;
  gap: 35px;
}

.jogja-blog .jogja h1 {
  text-align: center;
  font-size: 5rem;
  padding: 20px 0;
}

.jogja-blog p {
  font-size: 2rem;
  color: black;
}

.jogja-blog .jogja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.jogja-blog .jogja img {
  max-width: 1400px;
  padding: 50px 0;


}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}


/* Gaya khusus untuk bagian Administrasi */

.batas {
  margin: 80px 0;
}
.administration {

  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  justify-content: center;
  border-radius: 10px;

  transition: transform 0.3s ease-in-out;
  margin-bottom: 30px;
  animation: fade 1s ease-in;
}

.administration:hover {
  transform: translateY(-5px);
}

.administration h2 {
  color: #198cff;

}

.administration .box-administrasi {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: center;
  gap: 120px;


}

.administration .box-administrasi .box-admin {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;

  border: solid 1px rgb(175, 175, 175);
  background-color: #eee;
  gap: 7px;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.administration .box-administrasi .box-admin h3 {
  font-size: 25px;
  color: #0066cc;
}

.administration .box-administrasi .box-admin p {
  font-size: 18px;
  font-weight: 600;

}

.administration .box-administrasi .box-admin ul {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.administration .box-administrasi .box-admin ul li {
  font-size: 18px;
  list-style: none;

  color: #3d3d3d;
  display: flex;
  justify-content: space-between;
  gap: 140px;
}

.administration .box-administrasi .box-admin ul li strong {
  background-color: #0066cc;
  color: rgb(230, 230, 230);
  padding: 8px 16px;
  border-radius: 20px;
}


/* Responsiveness */
@media only screen and (max-width: 768px) {
  section#administration {
    padding: 20px;
    margin-bottom: 20px;
  }
}

/* media queries */

.left {
    animation: left 0.8s ease-in;
}

.top {
  animation: top 0.8s ease-in;
}

@keyframes top {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes left {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX (0px);
  }
}

@keyframes textBlink {
  0%, 100% {
    color: white;
  }

  50% {
    color: #198cff;
  }
}

@keyframes right {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX (0px);
  }
}

@keyframes bottom {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,50% {
    transform: translateY(-10px);
  }

  25%,75% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0%S);
  }
}